/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 */

 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  /* max-width: 1280px; */
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
  /* background-image: ; */
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/background.png");
}

.greeting, .cout-down {
  font-size: 60px;
  color: rgb(238, 199, 199);
  font-family: 'Chakra Petch', sans-serif;
  
}

.cout-down {
  font-size: 150px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.start {
  margin-top: 30px;
}

/* CSS */
.start {
  background-color: #cf245f;
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start:hover {
  box-shadow: none;
}

@media (min-width: 1024px) {
  .start {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}



.completionist {
  padding-top: 15px;
  width: 100%;
  height: 100%;
  /* height: 100%; */
  background-image: url("./assets/background.png");
  margin: 0;
}

.balloon {
  width: 6rem;
  position: relative;
  animation: bounce 4s infinite;

  /* animation-name: bounce 4s infinite; */
  /* animation-duration: 5s; */
  /* animation-iteration-count: infinite; */
}

@keyframes bounce {
  0%   { left:0px; top:0px;}
  16%  { left:2x; top:3px;}
  32%  { left:2px; top:5px;}
  48%  { left:0px; top:7px;}
  64%  {left:-2px; top:5px;}
  80%  {left:-2px; top:3px;}
  100% {left:0px; top:0px;}
}

.h1  {
  animation: en-h1 4s 1 ease;
}
@keyframes en-h1 {
  from {top: 700px;left: 500px;}
  to {top: 0px;left: 0px;}
}

.a1  {
  animation: en-a1 4s 1 ease;
}
@keyframes en-a1 {
  from {top: 700px;left: 200px;}
  to {top: 0px;left: 0px;}
}

.p1  {
  animation: en-p1 4s 1 ease;
}
@keyframes en-p1 {
  from {top: 700px;left: -100px;}
  to {top: 0px;left: 0px;}
}

.p2  {
  animation: en-p2 4s 1 ease;
}
@keyframes en-p2 {
  from {top: 700px;left: -400px;}
  to {top: 0px;left: 0px;}
}

.y1  {
  animation: en-y1 4s 1 ease;
}
@keyframes en-y1 {
  from {top: 700px;left: -100px;}
  to {top: 0px;left: 0px;}
}
.b1  {
  animation: en-b1 4s 1 ease;
}
@keyframes en-b1 {
  from {top: 500px;left: 800px;}
  to {top: 0px;left: 0px;}
}
.i1  {
  animation: en-i1 4s 1 ease;
}
@keyframes en-i1 {
  from {top: 500px;left: 200px;}
  to {top: 0px;left: 0px;}
}
.r1  {
  animation: en-r1 4s 1 ease;
}
@keyframes en-r1 {
  from {top: 600px;left: -100px;}
  to {top: 0px;left: 0px;}
}
.t1  {
  animation: en-t1 4s 1 ease;
}
@keyframes en-t1 {
  from {top: 500px;left: -100px;}
  to {top: 0px;left: 0px;}
}
.h2  {
  animation: en-h2 4s 1 ease;
}
@keyframes en-h2 {
  from {top: 500px;left: -700px;}
  to {top: 0px;left: 0px;}
}
.d1  {
  animation: en-d1 4s 1 ease;
}
@keyframes en-d1 {
  from {top: 500px;left: 100px;}
  to {top: 0px;left: 0px;}
}
.a2  {
  animation: en-a2 4s 1 ease;
}
@keyframes en-a2 {
  from {top: 500px;left: -200px;}
  to {top: 0px;left: 0px;}
}
.y2  {
  animation: en-y2 4s 1 ease;
}
@keyframes en-y2 {
  from {top: 600px;left: -500px;}
  to {top: 0px;left: 0px;}
}


/* .deco{
  animation: en-deco 4s 1 ease;
} */

.deco1 {
  position:absolute;
  top: 10px;
  left: 20px;
}
.deco2 {
  position: absolute;
  top: 10px;
  right: 20px;
}

.deco4 {
  position: absolute;
  width: 10rem;
  top: 0px;
  right: 14rem;
  /* border-radius: 20px; */
  animation: fade 6s 1 ease-out;
}
/* .deco4 {
  position: absolute;
  width: 11rem;
  bottom: 20px;
  left: 13rem;
} */

.deco1, .deco2 {
  animation: deco 3s infinite reverse, en-deco 4s 1 ease;
}

h2 {
  margin-top: -4rem;
  color: rgb(236, 211, 211);
  font-family: 'Merienda', cursive;
  font-size: 5rem;
}


@keyframes en-deco {
  from {top: 600px;}
  to {top: 10px;}
}

@keyframes deco {
  0% {top: 10px}
  50% {top: 30px;}
  100% {top: 10px;}
}

.avatar-img {
  margin-top: 30px;
  width: 17rem;
  animation: fade 5s 1 ease-out;
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.final-frame{
  background-color: #fcdfc0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.final-pic{
  width: 65rem;
}





